body{

    background-image: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
     linear-gradient(127deg, black, black 70.71%), 
     linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

    

#Logo{
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 10px;
    position: absolute;
    
}
.hcc {
    text-align: center;
}

.hcc li {
    display: inline-block;
    margin-right: 100px;
    margin-top: 5px;
    font-weight: bold;
    font-size: x-large;
    list-style: none;
}

.hcc li a{
    color: floralwhite;
    text-decoration: none;

}

.nav:hover{
    color : red;
}
.slide_img img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
h1{
  
    color: floralwhite;
    text-align: center;
    
}


.img1{
    background: url("./image/h1.png");
    width:300px;
    height: 200px;
}

.img1:hover{
   background-color: black;
   opacity: 0.5;
}

.img2{
    background: url("./image/h2.png");
    width: 300px;
    height: 200px;
}
.img2:hover{
    background-color: black;
    opacity: 0.5;
 }
.img3{
    background: url("./image/h3.png");
    width: 300px;
    height: 200px;
}
.img3:hover{
    background-color: black;
    opacity: 0.5;
 }

.img4{
    background: url("./image/h4.png");
    width:300px;
    height: 200px;
}

.img4:hover{
   background-color: black;
   opacity: 0.5;
}

.img5{
    background: url("./image/h5.png");
    width: 300px;
    height: 200px;
}
.img5:hover{
    background-color: black;
    opacity: 0.5;
 }
.img6{
    background: url("./image/h6.png");
    width: 300px;
    height: 200px;
}
.img6:hover{
    background-color: black;
    opacity: 0.5;
 }

 .img7{
    background: url("./image/h7.png");
    width:300px;
    height: 200px;
}

.img7:hover{
   background-color: black;
   opacity: 0.5;
}

.img8{
    background: url("./image/h8.png");
    width: 300px;
    height: 200px;
}
.img8:hover{
    background-color: black;
    opacity: 0.5;
 }
.img9{
    background: url("./image/h9.png");
    width: 300px;
    height: 200px;
}
.img9:hover{
    background-color: black;
    opacity: 0.5;
 }


.btnstyle{
    margin-top: 100px;
    margin-left: 120px;
    align-content: center;
    display: none;
}

.CR {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

h4{
    text-align: center;
    text-decoration: none;
   
}
.img23{
    background-image: url(image/img23.png);
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 25px;
}
.cc{
    
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    color: floralwhite;
}

.FK{
    color: floralwhite;
    
}

textarea{
    max-width: 500px;
    max-height: 100px;
}
label{
    color: white;
    
}
input{
    margin-top: 15px;
    margin-bottom: 15px;
}
form{
    margin-top: 15px;
    margin-bottom: 15px;
}
.VM{
    text-decoration: none;
    color: #337ab7;
}
.VM:hover{
    text-decoration: underline;
}
.carousel{
    margin-top: 25px;
    margin-bottom: 50px;
}









